In [1]:
import pandas as pd

In [5]:
data = { "name" : ['A','B','C','D','E','F','G'],
         "horse_power": [130,250,190,300,210,220,170],
          "weight" : [1.9,2.6,2.2,2.9,2.4,2.3,2.2],
          "efficiency" : [16.3,10.2,11.1,7.1,12.1,13.2,14.2]}

In [6]:
df = pd.DataFrame(data)

In [10]:
df = df.set_index('name',drop=True)

In [11]:
df

      horse_power  weight  efficiency
name
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2

In [12]:
max_result = '마력과 연비를 곱한 값중 최대값을 가진 차종 : ' + df.index[df['horse_power']*df['efficiency'] == (df['horse_power']*df['efficiency']).max()]

In [13]:
max_result

Index(['마력과 연비를 곱한 값중 최대값을 가진 차종 : F'], dtype='object', name='name')